.nav-bar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.802);
}

 .nav-bar h3 {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(267deg, #ad0f00e0 0.36%,#eec9c9e6 100%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
  }
  
.item{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.item li{
    font-size: 18px;
}
 .anchor-link{
    text-decoration: none;
    color: white;
}

.item li:hover{
    color:  #ad0f00e0;
    border-bottom: 1px solid #ad0f00e0;
     padding-bottom: 5px;
}
.connect-nav{
    padding: 10px 32px;
    border-radius: 50px;
    background: linear-gradient(267deg,#ad0f00e0 0.36%,
    #eec9c9e6 100%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

.connect-btn:hover{
    transform: scale(1.05);
}